CONFIG_COMPILER_OPTIMIZATION_LEVEL_RELEASE=y

CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.esp8266.csv"

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_SOC_FULL_ICACHE=y
CONFIG_ESP_PHY_INIT_DATA_VDD33_CONST=255
CONFIG_ESP8266_DEFAULT_CPU_FREQ_160=y
CONFIG_ESP8266_WIFI_CONNECT_OPEN_ROUTER_WHEN_PWD_IS_SET=n
CONFIG_ESP8266_WIFI_ENABLE_WPA3_SAE=n
CONFIG_ESP8266_WIFI_NVS_ENABLED=n

CONFIG_LWIP_TCP_SND_BUF_DEFAULT=7300
CONFIG_LWIP_TCP_WND_DEFAULT=7300
CONFIG_LWIP_TCP_MSS=1460
CONFIG_LWIP_TCP_RECVMBOX_SIZE=7

CONFIG_TCPIP_ADAPTER_HOSTNAME_MAX_LENGTH=64

CONFIG_ESP_PANIC_PRINT_REBOOT=y

CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=1004

CONFIG_ESP_MAIN_TASK_STACK_SIZE=2356

CONFIG_FREERTOS_TIMER_STACKSIZE=476
CONFIG_FREERTOS_IDLE_TASK_STACKSIZE=288

CONFIG_MDNS_TASK_STACK_SIZE=2076

CONFIG_HEAP_PRIO_8BIT_RAM=y